* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-0026FF72: #0026FF72;
    --color-808080: #808080;
    --color-F7D3D3: #F7D3D3;
    --color-F7EBEB: #F7EBEB;
    --color-FFFFFF: #FFFFFF;
    --color-000000: #000000;
    --color-301D1E1A: #301D1E1A;
    --color-FFFFFF76: #FFFFFF76;
    --color-FFAE00EE: #FFAE00EE;
    --color-000000D4: #000000D4;
    --color-00000040: #00000040;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background: var(--color-000000D4);
}

a {
    text-decoration: none;
    color: var(--color-FFFFFF);
}

.c-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    gap: 2rem;
    flex-wrap: wrap;
}

.c-container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.c-logo {
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.8;
    transition: all 300ms ease-in-out;
}

.c-logo:hover {
    opacity: 1;
    transform: scale(1.1);
}

.c-logo span {
    background-color: var(--color-FFAE00EE);
    border-radius: 30%;
    padding: 0 0.2rem;
    color: var(--color-000000);
    text-transform: lowercase;
}

.c-login {
    padding: 8px 14px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--color-FFFFFF76);
    opacity: 0.8;
    transition: all 300ms ease-in-out;
}

.c-login:hover {
    opacity: 1;
    color: var(--color-000000);
    transform: scale(0.9);
}

.c-home {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    padding: 0;
}

.c-home-text {
    text-align: center;
}

.c-home-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.c-post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.2rem;
    margin-top: 2rem;
    gap: 0.5rem;
}

.c-filter-item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
    border: 1px solid var(--color-F7EBEB);
    opacity: 0.8;
    overflow: hidden;
    width: 97px;
    text-align: center;
}

.c-filter-item:hover {
    border: 1px solid var(--color-F7D3D3);
    opacity: 1;
}

.c-post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.c-post-box {
    box-shadow: 0 4px 14px var(--color-301D1E1A);
    padding: 15px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.c-post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    border-radius: 0.5rem;
}

.c-post-img:hover {
    transform: scale(1.01);
}

.c-category {

    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-808080);
    margin-bottom: 0.5rem;
}

.c-post-title {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.c-post-date {
    display: flex;
    margin-bottom: 0.05rem;
    font-size: 0.875rem;
}

.c-post-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    margin-top: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.c-active {
    background-color: var(--color-F7D3D3);
    transition: all 300ms ease-in-out;
    border: 1px solid var(--color-000000);
}

.c-active:hover {
    border: 1px solid var(--color-000000);
}

.c-individual-card {
    max-width: 400px;
}

.c-post-header {
    width: 100%;
    height: 250px;
}

.c-post-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.c-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.c-back-home {
    color: var(--color-000000);
    margin: 2rem;
    letter-spacing: 5px;
    width: 80px;
    text-align: center;
    border-bottom: 1px solid var(--color-0026FF72);
    transition: all 300ms ease-in-out;
    opacity: 0.8;
}

.c-back-home:hover {
    color: var(--color-0026FF72);
    border-bottom: 1px solid var(--color-00000040);
    opacity: 1;
    transform: scale(1.1);
}

.c-header-title {
    width: 90%;
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 1rem;
}

.c-header-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.c-post-content {
    margin-top: 10rem;
}

.c-post-content h2 {
    margin-bottom: 1rem;
}

.c-sub-heading {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.c-post-text {
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}